$c-primary: #000;
$c-secondary: #fff;
$c-success: #0a0;
$c-failure: #a00;

@mixin button {
  background: $c-primary;
  border: 1px solid $c-primary;
  color: $c-secondary;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    background: $c-secondary;
    color: $c-primary;
  }
}
