@import './mixins';

.page-wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
}

.options-form {
  margin: 30px 0;
}

.form-group {
  align-items: center;
  display: flex;
  margin: 10px 0;

  &__label {
    width: 30%;
  }

  &__field {
    appearance: none;
    border: 0;
    border-bottom: 1px solid $c-primary;
    padding: 5px;
    width: 70%;

    &:focus {
      outline: none;
    }
  }
}

.submit {
  @include button;
}

.status {
  display: none;

  &--success,
  &--failure {
    border: 1px solid;
    display: block;
    padding: 10px;
    text-align: center;
  }

  &--success {
    border-color: $c-success;
    color: $c-success;
  }

  &--failure {
    border-color: $c-failure;
    color: $c-failure;
  }
}
