@import "./mixins";

.page-wrapper {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
}

.options-form {
    margin: 30px 0;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 10px 0;

    &__label {
        width: 30%;
    }

    &__field {
        width: 70%;
        border: none;
        border-bottom: 1px solid $c-primary;
        padding: 5px;
        appearance: none;

        &:focus {
            outline: none;
        }
    }
}

.submit {
    @include button;
}

.success {
    display: none;

    &--show {
        display: block;
        border: 1px solid $c-success;
        color: $c-success;
        padding: 10px;
        text-align: center;
    }
}
