@import './mixins';

.page-wrapper {
  width: 300px;
}

.game-count,
.message-count,
.comment-count {
  background-color: $c-primary;
  color: $c-secondary;
  display: inline-block;
  font-weight: bold;
  padding: 3px 5px;
}

.action-required {
  display: none;

  &--show {
    display: block;
  }
}

.no-settings {
  display: none;

  &--show {
    display: block;
  }
}

a {
  @include button;
}
